body{
    padding: 0;
    margin: 0;
    background: url("glade.jpg") no-repeat;
    background-size: cover;
    height:100vh;
}
#revealContainer{
    position: absolute;
    width:600px;
    top:0;left:0;right:0;bottom:0;
    height:500px;
    margin:auto;
}
img{
    width: 100%;
    max-width: 550px;
}
